@tailwind base;
@tailwind components;
@tailwind utilities;
#animation{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 99;
    background-color: #f3f3f3;
    overflow: hidden;
    animation: anim6 4s cubic-bezier(0.19, 1,0.22 , 1) 7s both;
    
}

@keyframes anim6 {
    to{
        margin-top: -200%;
        display: none;
    }
}
#wrapper{
    display:  flex;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50% ,-50%);
    animation: anim2 2s cubic-bezier(0.19 , 1, 0.22,1) 4s both;


}

@keyframes anim2 {
    to{
        margin-top: -160px;
    }
}
#logosadhu{
    width: 300px;
    height: 300px;
    display: flex;
    border-radius: 50%;
    background-color: orange;
    align-items: center;
    justify-content: center;
    animation: anim1 3s cubic-bezier(0.19, 1, 0.22, 1) 1s both;

}
@keyframes anim1 {
    50%{
        transform: scale(2,2);
    }
    100%{
        transform: scale(1,1);
    }
}

#logosadhu>img{
    border-radius: 50%;
    animation: anim5 3s cubic-bezier(0.19, 1, 0.22, 1) 1s  both;
}
@keyframes anim5 {
    20%{
        transform: rotate(-360deg);

    }
    40%{
        transform: rotate(360deg);
    }
    60%{
        transform: rotate(-360deg);
     }
     100%{
        transform: rotate(360deg);
     }
}

#txtdiv{
    width: 100%;
    height: 100px;
    position: absolute;
    left: 50%;
    top:110%;
    transform: translate(-50%,-50%);
    animation: anim3 3s cubic-bezier(0.19, 1, 0.22, 1) 5s both;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

@keyframes anim3{
    to{
       top: 70%; 
    }

}
#txt{
    letter-spacing: 5px;
    line-height: 40px;
    font-size: 30px;
    font-weight: bolder;
}

.overlay{
    height: 100%;
    width: 0;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    background-color: rgba(0, 0, 0, 0.9);
   transition: 0.8s;
   position: fixed;
}

.overlaycontent{
position: relative;
top: 25%;
width: 100%;
text-align: center;
margin-top: 30px;

}
.overlay a{
    padding: 20px;
    text-decoration: none;
    font-size: 30px;
    color: #818181;
    display: block;
    transition: 0.3s;
}
.overlay a:hover , .overlay a:focus{
    color: #f1f1f1;
}

.overlay .close{
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
}
#function{
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}